.container{
    border:2px solid yellow;
    display: grid;
    grid-template-columns: 120px 100px;
    grid-template-rows: 100px 100px 100px;
/*  grid-template-columns: [pehla] 120px [doosra] 100px [t]; */
/*  grid-template-rows: 100px 100px 100px; */
/*  grid-template-columns: repeat(4, minmax(100px, 1fr)); */ 
    grid-template-columns: repeat(4, 80px);
    grid-template-rows: repeat(2, 80px);

}
.item{
    border: 2px solid red;
    height: 55px;
    width: 55px;
}
.item-4{
    grid-row: 1/2;
    grid-column: 1/2;
}
.item-1{
    grid-row: 1/2;
    grid-column: 1/2;
}